.smoothBoxShadowWrapper {
  position: relative;
  width: 70%;
  scroll-margin-top: 6rem;
}

.parentRelativeContainer {
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  overflow: clip;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  transition: height 250ms ease-in-out, opacity 500ms ease-in-out,
    transform 500ms ease-in-out, filter 500ms ease-in-out;
}

.smoothBoxShadowWrapper::after {
  content: "";
  border-radius: 0.5rem;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.smoothBoxShadowWrapper:hover::after {
  opacity: 1;
}

.smoothBoxShadowWrapper:active::after {
  opacity: 0;
}

.titleAndTechStackContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  border-radius: 0.5rem;

  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  z-index: 50;
  background-image: linear-gradient(130deg,
      hsl(35, 84%, 50%) 5%,
      hsl(35deg, 84%, 90%));
  background-size: 200% 100%;

  box-shadow: rgb(0 0 0 / 30%) 0px 1px 1px 0px;

  transition: all 150ms ease-in-out;
}

.techStackContainer {
  background-color: #ffffffb3;
  border-radius: 1rem;
  padding: 0.5rem 1.25rem;
  cursor: default;
  box-shadow: inset 1px 1px 4px 1px rgb(0 0 0 / 20%);
}

.projectTitle {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.55rem;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.75px;
  text-decoration-line: underline;
}

.techIcons {
  gap: 0.5em;
  /* margin-top: 0.5rem; not sure what this was for (maybe a mobile styling thing?*/
  overflow: visible !important;
}

.techIcons>img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 0.5em;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

.projectContainer,
.reversedProjectContainer {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-content: center;
  gap: 3rem;

  width: 100%;
  border-radius: 0.5rem;
  padding: 6.5rem 1rem 2rem 1rem;
  z-index: 1;
  box-shadow: 4px 3px 9px 0px hsla(0, 0%, 0%, 0.35);
  transition: all 150ms ease-in-out;
}

/* .projectContainer:hover,
.reversedProjectContainer:hover {
  box-shadow: 4px 3px 9px 0px hsla(0, 0%, 0%, 0.55);
} */

.projectContainer {
  grid-template-areas:
    " description projectImageContainer "
    " description projectImageContainer "
    " whatILearnedAndChallenges projectImageContainer "
    " whatILearnedAndChallenges projectImageContainer ";

  background: linear-gradient(130deg,
      hsla(35, 84%, 56%, 0.6) 50%,
      hsla(35, 84%, 56%, 0.42));
}

.reversedProjectContainer {
  grid-template-areas:
    " projectImageContainer description"
    " projectImageContainer description"
    " projectImageContainer whatILearnedAndChallenges"
    " projectImageContainer whatILearnedAndChallenges";

  background: linear-gradient(240deg,
      hsla(35, 84%, 56%, 0.6) 50%,
      hsla(35, 84%, 56%, 0.42));
}

.description {
  grid-area: description;
  width: 100%;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.underlinedHeader {
  text-decoration-line: underline;
  text-underline-offset: 5px;
  padding-top: 1rem;
  text-shadow: 0px 0px 0px rgb(0 0 0 / 20%);
  font-size: 1.15rem;
}

/* Toggle classes */

.toggleContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
  width: 100%;
  height: 100%;

  background-color: #ffffffb3;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: inset 1px 1px 4px 1px rgb(0 0 0 / 20%);
}

.toggleIndicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(0deg,
      hsla(35, 84%, 56%, 0.9) 50%,
      hsla(35, 84%, 56%, 0.6));
  box-shadow: inset 1px 2px 5px 1px #0000003b;

  border-radius: 1rem;
  transition: all 150ms ease-in-out;
}

.toggleText {
  z-index: 100;
  width: 100%;
  text-align: center;
  transition: all 150ms ease-in-out;
}

.relativeWrapper {
  position: relative;
  width: 100%;
}

.toggleContent {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: all 150ms ease-in-out;
}

/* Project image classes */

.projectImageContainer {
  grid-area: projectImageContainer;
  gap: 1rem;
  background-color: #05204a;
  height: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 3px 10px 0px rgb(5 32 74 / 50%);
  z-index: 50;
  transition: all 250ms;
}

.githubIcon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: all 250ms;
}

.githubIcon:hover {
  transform: scale(1.05);
}

.githubIcon:active {
  transform: scale(0.95);
}

.projectImage {
  cursor: pointer;
  transition: all 250ms;
}

.projectImage:hover {
  transform: scale(1.015);
}

.projectImage:active {
  opacity: 0.7;
}

.whatILearnedAndChallenges {
  grid-area: whatILearnedAndChallenges;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stacked>img {
  z-index: -1;
}

/* warning classes */
.warningContainer {
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 1rem 0;
  color: rgb(241, 241, 241);
  font-size: 1.5rem;
}

.warningContainer>img {
  width: 3rem;
  height: 3rem;
}

/* blurred classes */
.blurred {
  filter: blur(4px);
  user-select: none;
  cursor: auto;
}

.blurred div {
  margin-top: 1rem;
}

.blurred ul {
  margin-top: 0.5rem;
}

.stackedContainer {
  display: grid;
}

.stackedContainer>* {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

/* #ed9f319c */
/* #9198e5 */

@media (max-width: 1400px) {

  .projectContainer,
  .reversedProjectContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      " projectImageContainer "
      " description  "
      " description  "
      " description  "
      " whatILearnedAndChallenges  "
      " whatILearnedAndChallenges  "
      " whatILearnedAndChallenges  ";

    background: linear-gradient(135deg,
        hsla(35, 84%, 56%, 0.48) 40%,
        hsla(35, 84%, 56%, 0.7));
  }

  .reversedProjectContainer {
    background: linear-gradient(225deg,
        hsla(35, 84%, 56%, 0.48) 40%,
        hsla(35, 84%, 56%, 0.7));
  }

  .projectImageContain,
  .projectDetails {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .titleAndTechStackContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    height: 8.125rem;
  }

  .projectContainer,
  .reversedProjectContainer {
    padding: 10.5rem 1rem 1.5rem 1rem;
  }
}

@media (max-width: 675px) {
  .smoothBoxShadowWrapper {
    width: 90%;
  }

  .titleAndTechStackContainer {
    padding: 1rem 1rem;
  }
}

@media (max-width: 500px) {
  .titleAndTechStackContainer {
    height: 7.5rem;
  }

  .description {
    font-size: 0.95rem;
    line-height: inherit;
  }

  ul {
    padding-inline-start: 20px;
  }

  .projectTitle {
    font-size: 1.1rem;
  }

  .toggleText,
  li {
    font-size: 0.85rem;
  }

  .techIcons>img {
    width: 2.1rem;
    height: 2.1rem;
  }
}