.projectContainer,
.reversedProjectContainer {
  gap: 1rem;
  width: 70%;
  border-radius: 0.5rem;
  padding: 3rem 1rem;
  box-shadow: 4px 3px 9px 0px #000000a6;
}

.projectContainer {
  background: linear-gradient(145deg, #ed9f3194 30%, #ed9f31d8);
}

.reversedProjectContainer {
  flex-direction: row-reverse;
  background: linear-gradient(145deg, #ed9f31d8 30%, #ed9f3194);
}

.projectDetails {
  width: 50%;
  gap: 0.5rem;
}

.projectDetails>div:nth-child(3),
.projectDetails>div:nth-child(5) {
  margin-top: 1rem;
  text-shadow: 0px 1px 1px #0000007a;
}

.projectImage {
  cursor: pointer;
  transition: all 250ms;
}

.blurred {
  filter: blur(4px);
  user-select: none;
  cursor: auto;
}

.blurred div {
  margin-top: 1rem;
}

.blurred ul {
  margin-top: 0.5rem;
}

.projectTitle {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.1px;
  text-decoration-line: underline;
}

.techIcons {
  gap: 0.5em;
  margin-top: 0.5rem;
  overflow: visible !important;
}

.techIcons>img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 0.5em;
}

.projectImageContain {
  gap: 1rem;
  background-color: #05204a;
  width: 50%;
  padding: 1em 1em 1em 1em;
  border-radius: 0.5rem;
  transition: all 250ms;
}

.githubIcon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: all 250ms;
}

.githubIcon:hover {
  transform: scale(1.13);
}

.githubIcon:active {
  transform: scale(0.95);
}

.stackedContainer {
  display: grid;
}

.stackedContainer>* {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.stacked>img {
  z-index: -1;
}

.warningContainer {
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 1rem 0;
  color: rgb(241, 241, 241);
  font-size: 1.5rem;
}

.warningContainer>img {
  width: 3rem;
  height: 3rem;
}

/* #ed9f319c */
/* #9198e5 */

@media (max-width: 1500px) {

  .projectContainer,
  .reversedProjectContainer {
    width: 90%;
  }
}

@media (max-width: 1000px) {

  .projectContainer,
  .reversedProjectContainer {
    flex-direction: column-reverse;
  }

  .reversedProjectContainer {
    background: linear-gradient(145deg, #ed9f3194 30%, #ed9f31d8);
  }

  .projectImageContain,
  .projectDetails {
    width: 90%;
  }
}

@media (max-width: 500px) {

  .projectImageContain,
  .projectDetails {
    width: 95%;
  }

  ul {
    font-size: 0.85em;
    padding-inline-start: 25px;
  }
}