.projectContainer {
  gap: 1rem;
  width: 70%;
  /* align-items: flex-start; */
  background: linear-gradient(145deg, #ed9f3180 30%, #ed9f31eb);
  border-radius: 0.5rem;
  padding: 3rem 1rem;
  box-shadow: 4px 3px 9px 0px #000000a6;
}

.reversedProjectContainer {
  gap: 1rem;
  width: 70%;
  /* align-items: flex-start; */
  flex-direction: row-reverse;
  background: linear-gradient(145deg, #ed9f31eb -30%, #ed9f3180);
  border-radius: 0.5rem;
  padding: 3rem 1rem;
  box-shadow: 4px 3px 9px 0px #000000a6;
}

.projectDetails {
  width: 50%;
  gap: .5rem;
}

.projectDetails>div:nth-child(3),
.projectDetails>div:nth-child(5) {
  margin-top: 1rem
}

.projectImage {
  cursor: pointer;
  transition: all 250ms;
}

.blurred {
  filter: blur(5px);
  user-select: none;
  cursor: auto;
}

.blurred div {
  margin-top: 1rem;
}

.blurred ul {
  margin-top: .5rem;
}

.projectTitle {
  font-size: 1.5em;
  letter-spacing: 1.25px;
}

.techIcons {
  gap: 0.5em;
  margin-top: .5rem;
}

.techIcons>img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 0.5em;
}

.projectImageContain {
  gap: 1rem;
  background-color: #05204a;
  width: 50%;
  padding: 1em 1em 1em 1em;
  border-radius: 0.5rem;
  transition: all 250ms;
}

.githubIcon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: all 250ms;
}

.githubIcon:hover {
  transform: scale(1.18);
}

.githubIcon:active {
  transform: scale(.95);
}

.stackedContainer {
  display: grid;
}

.stackedContainer>* {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.stacked>img {
  z-index: -1;
}

.warningContainer {
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 1rem 0;
  color: rgb(241, 241, 241);
  font-size: 1.5rem;
}

.warningContainer>img {
  width: 3rem;
  height: 3rem;
}

/* #ed9f319c */
/* #9198e5 */