.scrollToTopContainer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  border: 2px solid #05204a;
  border-radius: 50%;
  opacity: 0;
  width: 3rem;
  height: 3rem;
  pointer-events: none;
  transition: all 150ms;
}

.scrollToTopContainer>img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}

@media (hover: hover) and (pointer: fine) {
  .scrollToTopContainer:hover {
    background-color: #ed9f31;
    filter: brightness(1.1);
  }
}

.scrollToTopContainer:active {
  filter: brightness(0.95);
  bottom: calc(1rem - 3px);
}

@media (max-width: 600px) {
  .scrollToTopContainer {
    right: 0.5rem;
    width: 40px;
    height: 40px;
  }

  .scrollToTopContainer>img {
    width: 15px;
    height: 15px;
  }
}