.heroBackground {
  position: relative;
  /* roughly height of navbar */
  top: 60px;
  background: url("../../assets/heroBackgroundPattern.svg") no-repeat center center fixed;
  height: 100vh;
}

.heroContainer {
  position: relative;
  min-height: 100vh;
  background: radial-gradient(ellipse at center,
      hsl(35, 84%, 56%) 0%,
      hsl(35, 84%, 66%) 99%,
      hsl(0, 0%, 100%) 100%);
}

.waves {
  width: 50%;
  border-radius: 50%;
  height: 35%;

  position: absolute;
  bottom: 40px;
  left: 24px;
  margin-bottom: -7px;
  opacity: 0;
  transition: all 200ms;
}

/* Animation */

.parallax>use {
  animation: move-forever 15s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 3s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 3s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 5s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 7s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.hero {
  transition: all 200ms;
}

.hero>span {
  background-color: #ed9f31;
  text-shadow: rgb(118 118 118 / 57%) 4px 4px 9px;
}

.topHero {
  color: #02020a;
  text-shadow: rgb(118 118 118 / 27%) 4px 4px 3px;
  opacity: 0;
  filter: blur(5px);
  font-size: 4.5rem;
  animation: fadeInRight 1s forwards;
}

.nameUnderline {
  display: inline-block;
  background-image: linear-gradient(#ed9f31 0 0);
  background-position: 100% 100%;
  background-size: 0% 5px;
  background-repeat: no-repeat;
  animation: underline 1s forwards;
  animation-delay: 500ms;
}

.nameUnderline:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.middleHero {
  color: #02020a;
  text-shadow: rgb(118 118 118 / 27%) 4px 4px 3px;
  gap: 0.5rem;
  filter: blur(5px);
  font-size: 2.5rem;
  white-space: nowrap;

  background-color: #ffffffb3;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 0.5rem;

  opacity: 0;
  animation: fadeInRight 1s forwards;
  animation-delay: 300ms;
}

.webDevText {
  text-shadow: rgb(5 32 74 / 27%) 3px 3px 3px;
  background: linear-gradient(180deg, hsl(217, 87%, 15%), hsl(217, 87%, 35%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeToBlue 1s forwards;
  animation-delay: 400ms, 1500ms;
}

.bottomHero {
  opacity: 0;
  filter: blur(5px);
  animation: fadeInUp 1s forwards;
  animation-delay: 500ms;
}

.leftBracket {
  color: #ed9f31;
  text-shadow: none;
  opacity: 0;
  width: 0;
  filter: drop-shadow(2px 2px 1px hsla(35, 84%, 56%, 0.424));
  animation: fadeInUpLeftBracket 0.75s cubic-bezier(0.22, 0.56, 0.8, 1.5) forwards,
    bracketGlow 1.5s ease-in-out infinite alternate;
  animation-delay: 400ms, 1500ms;
}

.rightBracket {
  color: #ed9f31;
  text-shadow: none;
  opacity: 0;
  width: 0;
  filter: drop-shadow(2px 2px 1px hsla(35, 84%, 56%, 0.424));
  animation: fadeInUpRightBracket 1s cubic-bezier(0.22, 0.56, 0.8, 1.5) forwards,
    bracketGlow 1.5s ease-in-out infinite alternate;
  animation-delay: 400ms, 1500ms;
}

.logoContainer {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-top: 1rem;
  transition: all 250ms;
}

.logoContainer:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.logoContainer:active {
  background-color: rgba(5, 32, 74, 0.15);
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-350px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
  }
}

@keyframes fadeToBlue {
  0% {
    color: #02020a;
  }

  100% {
    color: rgb(5, 32, 74);
  }
}

@keyframes fadeInUpLeftBracket {
  0% {
    opacity: 0;
    width: 0%;
    transform: translateY(75px);
  }

  100% {
    opacity: 1;
    width: 100%;
    margin-left: 0.5rem;
    transform: translateY(0px);
  }
}

@keyframes fadeInUpRightBracket {
  0% {
    opacity: 0;
    width: 0%;
    transform: translateY(75px);
  }

  100% {
    opacity: 1;
    width: 100%;
    transform: translateY(0px);
  }
}

@keyframes bracketGlow {
  0% {
    filter: drop-shadow(2px 2px 1px hsla(35, 84%, 56%, 0.424)) brightness(1);
  }

  100% {
    filter: drop-shadow(2px 2px 5px hsl(35, 84%, 56%)) brightness(1.1);
  }
}

@keyframes underline {
  0% {
    background-position: 100% 100%;
    background-size: 0% 5px;
  }

  100% {
    background-position: 100% 100%;
    background-size: 100% 5px;
  }
}

@media (max-width: 900px) {
  .topHero {
    font-size: 3.5rem;
  }

  .middleHero {
    font-size: 1.55rem;
  }
}

@media (max-width: 600px) {
  .topHero {
    font-size: 2.5rem;
  }

  .middleHero {
    font-size: 1.2rem;
    padding: 0.75rem;
  }

  .waves {
    width: 40%;
    height: 29%;
    bottom: 36px;
    left: 25px;
  }

  .githubLogo {
    width: 50px;
    height: 50px;
  }
}