.heroBackground {
  position: relative;
  /* roughly height of navbar */
  top: 60px;
  background: url("../../assets/heroBackgroundPattern.svg") no-repeat center center fixed;
  height: 100vh;
}

.hero>span {
  background-color: #ed9f31;
  text-shadow: rgb(118 118 118 / 57%) 4px 4px 9px;
}

.topHero {
  color: #02020a;
  text-shadow: rgb(118 118 118 / 27%) 4px 4px 3px;
  opacity: 0;
  font-size: 4rem;
  /* font-size: clamp(1rem, -0.465rem + 6.25vw, 4rem); */
  animation: fadeInRight 1s forwards;
}

.nameUnderline {
  display: inline-block;
  background-image: linear-gradient(#ed9f31 0 0);
  background-position: 100% 100%;
  background-size: 0% 5px;
  background-repeat: no-repeat;
  animation: underline 1s forwards;
  animation-delay: 500ms;
}

.nameUnderline:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.middleHero {
  color: #02020a;
  text-shadow: rgb(118 118 118 / 27%) 4px 4px 3px;
  gap: 0.5rem;
  font-size: 2.5rem;
  white-space: nowrap;

  opacity: 0;
  animation: fadeInRight 1s forwards;
  animation-delay: 300ms;
}

.webDevText {
  text-shadow: rgb(5 32 74 / 27%) 3px 3px 3px;
  animation: fadeToBlue 1s forwards;
  animation-delay: 400ms;
}

.bottomHero {
  opacity: 0;
  animation: fadeInUp 1s forwards;
  animation-delay: 500ms;
}

.leftBracket {
  color: #ed9f31;
  text-shadow: none;
  opacity: 0;
  width: 0;
  animation: fadeInUpLeftBracket .75s cubic-bezier(.22, .56, .8, 1.5) forwards,
    glow 1s ease-in-out infinite alternate;
  animation-delay: 400ms, 1000ms;
}

.rightBracket {
  color: #ed9f31;
  text-shadow: none;
  opacity: 0;
  width: 0;
  animation: fadeInUpRightBracket 1s cubic-bezier(.22, .56, .8, 1.5) forwards,
    glow 1s ease-in-out infinite alternate;
  animation-delay: 400ms, 1000ms;
}

.githubLogo {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 250ms;
}

.githubLogo:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.githubLogo:active {
  background-color: rgba(5, 32, 74, 0.15);
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-350px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeToBlue {
  0% {
    color: #02020a;
  }

  100% {
    color: rgb(5, 32, 74);
  }
}

@keyframes fadeInUpLeftBracket {
  0% {
    opacity: 0;
    width: 0%;
    transform: translateY(75px);
  }

  100% {
    opacity: 1;
    width: 100%;
    margin-left: 0.5rem;
    transform: translateY(0px);
  }
}

@keyframes fadeInUpRightBracket {
  0% {
    opacity: 0;
    width: 0%;
    transform: translateY(75px);
  }

  100% {
    opacity: 1;
    width: 100%;
    transform: translateY(0px);
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(2px 2px 2px #ed9f316c) brightness(1);
  }

  100% {
    filter: drop-shadow(2px 2px 4px #ed9f31) brightness(1.15);
  }
}

@keyframes underline {
  0% {
    background-position: 100% 100%;
    background-size: 0% 5px;
  }

  100% {
    background-position: 100% 100%;
    background-size: 100% 5px;
  }
}

@media (max-width: 900px) {
  .hero {
    transform: scale(.7);
  }
}