.skillsContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.skillsContainer>img,
.currentlyLearning>img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: .5rem;
}

.currentlyLearning>img {
  opacity: 0;
}

@media (max-width: 550px) {

  .skillsContainer>img,
  .currentlyLearning>img {
    width: 2.5rem;
    height: 2.5rem;
  }
}