*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.baseFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseVertFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  position: relative;
  font-size: 2.5em;


}

.heading:after {
  position: absolute;
  content: '';
  height: 3px;
  background-color: #ed9f31;
  bottom: .25rem;
  right: 0;
  left: 0;
  z-index: -1;
}