.contactContainer {
  margin-top: 5rem;
  padding-bottom: 7rem;
  gap: 2rem;
  scroll-margin: 8rem;
}

.contactText {
  max-width: 100ch;
  margin: 0 1rem;
}

.messageInput {
  width: 550px;
}

.submitButton {
  border-style: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-weight: 600;
  background-color: #ed9f31;
  transition: all 250ms;
}

.submitButton:hover {
  filter: brightness(1.1);
}

.submitButton:active {
  filter: brightness(0.95);
}

@media (max-width: 950px) {
  .contactContainer {
    margin-top: 10rem;
  }
}

@media (max-width: 725px) {
  .contactContainer {
    padding-bottom: 5rem;
  }

  .nameAndEmail {
    flex-direction: column;
  }

  .messageInput {
    width: 80vw;
  }
}