.hero {}

.hero>span {
  background-color: #ed9f31;
}

.backgroundPattern {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100vh; */
  height: 100vh;
  z-index: -5;
  transform: scaleX(1.5);
}

.githubLogo {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 250ms;
}

.githubLogo:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.githubLogo:active {
  background-color: rgba(0, 0, 0, 0.2);
}