.burgerIconContainer {
  position: fixed;
  z-index: 999;
  top: 1rem;
  right: 1rem;
}

.sidebarBody {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 0;
  background-color: #05204a;
  box-shadow: -2px 2px 8px 1px rgb(0 0 0 / 25%);
  z-index: 998;
  transition-property: width, opacity;
  transition-duration: 300ms, 300ms;
}

.sidebarLinks {
  justify-content: flex-start !important;
  gap: 1.5em;
  height: 100%;
  margin-top: 6em;
  z-index: 999;
}

.sidebarNavLinks {
  justify-content: flex-start !important;
}