@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  color: #02020a;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: "M PLUS 1", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.baseFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseVertFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  position: relative;
  font-size: 2.5em;
}

.heading:after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #ed9f31;
  bottom: 0.25rem;
  right: 0;
  left: 0;
  z-index: -1;
}

img.icon {
  transition: all 200ms;
}

img.icon:hover {
  transform: scale(1.1);
}

#projects {
  padding-bottom: 0.75rem;
}

.hiddenLeft,
.hiddenRight {
  opacity: 0;
  filter: blur(10px);
  transition: all 500ms;
}

.hiddenLeft {
  transform: translateX(-100%);
}

.hiddenRight {
  transform: translateX(100%);
}

.showing {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #ed9f31;
  border-radius: 0.25rem;
}

@media (max-width: 500px) {
  #contact {
    scroll-margin: 5rem;
  }
}