.aboutMeContainer {
  gap: 6.5rem;
  margin-top: 2rem;
  height: 300px;
  width: 70%;
}

.avatarContainer {
  position: relative;
  width: 7rem;
  height: 7rem;
}

.iconContainer {
  position: absolute;
  left: 38px;
  right: 0;
  top: 48px;
  bottom: 0;
  margin: auto;

  list-style-type: none;
  padding: 0;
  display: grid;
  margin: auto;
}

.iconContainer li {
  --d: 108px;
  grid-area: 1/1;
  transform: rotate(var(--r)) translateX(var(--d)) rotate(calc(-1 * var(--r)));
}

/* adjust the angle for each icon */
.iconContainer li:nth-child(1) {
  --r: -150deg;
}

.iconContainer li:nth-child(2) {
  --r: -110deg;
}

.iconContainer li:nth-child(3) {
  --r: -70deg;
}

.iconContainer li:nth-child(4) {
  --r: -30deg;
}

.iconContainer li img {
  width: 38px;
}

.profileIcon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 10rem;
  height: 10rem;
}

.aboutMeText {
  font-size: 1.15em;
  width: 50%;
  /* width: clamp(45ch, 50%, 75ch); */
  /* this most likely doesn't work the way you think it does */
}

.resumeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  transition: all 150ms;
}

.resumeButton:hover {
  background-color: #ed9f31;
}

.resumeButton:active {
  filter: brightness(0.95);
  transform: translateY(2px);
}

@media (max-width: 1400px) {
  .aboutMeText {
    width: 70%;
  }
}

@media (max-width: 950px) {
  .aboutMeContainer {
    flex-direction: column-reverse;
    margin-top: 5rem;
    height: auto;
  }

  .resumeButton {
    margin-top: 5rem;
  }

  .avatarContainer {
    margin-top: 2rem;
    width: 6rem;
    height: 6rem;
  }

  .profileIcon {
    top: 50px;
    width: 6rem;
    height: 6rem;
  }

  .iconContainer {
    left: 34px;
    top: 53px;
  }

  .iconContainer li {
    --d: 107px;
  }

  .iconContainer li img {
    width: 35px;
  }

  .iconContainer li:nth-child(1) {
    --r: -146deg;
  }

  .iconContainer li:nth-child(2) {
    --r: -111deg;
  }

  .iconContainer li:nth-child(3) {
    --r: -71deg;
  }

  .iconContainer li:nth-child(4) {
    --r: -33deg;
  }
}

@media (max-width: 775px) {
  .aboutMeText {
    font-size: 1.08em;
  }
}

@media (max-width: 500px) {
  .aboutMeText {
    font-size: 1em;
    width: 100%;
  }
}