.aboutMeContainer {
  gap: 3.5rem;
}

.avatarContainer {
  width: 7rem;
  height: 7rem;
}

.headshotContainer {
  position: relative;
  border: #ed9f31 10px solid;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0px 2px 5px hsl(0deg 0% 0% / 50%);
}

.headshotContainer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border: hsl(35, 84%, 76%) 7px solid;
  border-radius: 50%;
  z-index: 50;
  box-shadow: 0 2px 3px hsl(0deg 0% 0% / 30%);
}

.headshot {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  z-index: 50;
}

.aboutMeTextContainer {
  gap: 1rem;
  width: 35%;
}

.aboutMeText {
  font-size: 1.15rem;
}

.resumeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  background-color: rgb(250, 250, 250);
  border: 1px solid black;
  transition: all 150ms;
}

.resumeButton:hover {
  background-color: #ed9f31;
}

.resumeButton:active {
  filter: brightness(0.95);
  transform: translateY(2px);
}

/* @media (max-width: 1400px) {
  .aboutMeText {
    width: 70%;
  }
} */

@media (max-width: 950px) {
  .aboutMeContainer {
    flex-direction: column;
    margin-top: 5rem;
    height: auto;
  }

  .headshot {
    width: 15rem;
    height: 15rem;
  }

  .aboutMeTextContainer {
    width: 80%;
  }
}

@media (max-width: 775px) {
  .aboutMeText {
    font-size: 1.08rem;
  }
}

@media (max-width: 500px) {
  .aboutMeText {
    font-size: 1rem;
    width: 100%;
  }
}